.container {
    height: 100vh;
    background-color: lightblue;
    position: relative;
}

.form {
    height: 400px;
    width: 500px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

button {
    font-size: 15px;
}

button:hover {
    color: blue;
    background-color: white
}

body {
    margin-top: 0;
    padding-top: 0;
    margin: 0;
    padding: 0;
}